# Python libraries required for the project



# For web applications and APIs
streamlit==1.5.0  # The fastest way to create and share data apps, 用于创建Web应用

requests==2.27.1  # HTTP library for Human Beings, 用于发送HTTP请求



# Your specific dependency
pywin32==308  # Windows extensions for Python, 如果你确实需要这个库的话
